# -e git+https://github.com/irit-melodi/educe.git#egg=educe
-e file:///home/mmorey/melodi/educe
# -e git+https://github.com/irit-melodi/attelo.git#egg=attelo
-e file:///home/mmorey/melodi/attelo
-e git+https://github.com/nlhepler/pydot.git#egg=pydot
-e .
